APP_ENV=development
APP_PORT=8080
HTTP_TIMEOUT_SECONDS=20

DATAJUD_BASE_URL=https://api-publica.datajud.cnj.jus.br
DATAJUD_API_KEY=
DATAJUD_AUTO_DISCOVER_KEY=true
DATAJUD_KEY_PAGE_URL=https://datajud-wiki.cnj.jus.br/api-publica/acesso/
DATAJUD_KEY_CACHE_SECONDS=21600
DATAJUD_DEFAULT_HEALTH_TRIBUNAL=tjsc
DATAJUD_MAX_REQUESTS_PER_MINUTE=100
DATAJUD_MAX_CONCURRENCY=4
